.checkout-container {
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    margin: 40px auto;
    padding: 40px 60px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.checkout-header {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    color: #333;
}

.checkout-field {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}

.checkout-field label {
    font-size: 18px;
    margin-bottom: 8px;
    color: #555;
}

.checkout-field input,
.checkout-field select {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #333;
    transition: border-color 0.2s;
}

.checkout-field input:focus,
.checkout-field select:focus {
    border-color: #6079ff;
    outline: none;
}

.checkout-btn {
    width: 100%;
    height: 60px;
    border-radius: 6px;
    background: #BB2A2A;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    transition: background 0.3s;
}


@media(max-width: 1280px) {
    .checkout-container {
        padding: 30px 50px;
    }

    .checkout-header {
        font-size: 24px;
    }

    .checkout-field label {
        font-size: 16px;
    }

    .checkout-btn {
        height: 50px;
        font-size: 18px;
    }
}

@media(max-width: 800px) {
    .checkout-container {
        padding: 20px 30px;
    }

    .checkout-header {
        font-size: 22px;
    }

    .checkout-field input,
    .checkout-field select {
        height: 45px;
        font-size: 16px;
    }

    .checkout-btn {
        height: 50px;
        font-size: 16px;
    }
}
