.newCollection {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: auto;
}

.newCollection h1 {
    color: black;
    font-size: 30px;
    font-weight: 600;
}

.newCollection-item {
    margin-top: 50px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
}

@media (max-width: 1280px) {
    .newCollection {
        margin-top: 80px;
    }

    .newCollection h1 {
        font-size: 30px;
    }
}

@media (max-width: 1024px) {
    .newCollection {
        height: auto;
    }

    .newCollection h1 {
        font-size: 25px;
    }
}

@media (max-width: 800px) {
    .newCollection h1 {
        font-size: 17px;
    }

    .newCollection {
        height: auto;
    }
}

@media (max-width: 500px) {
    .newCollection {
        height: auto;
    }
}
