.productdisplay{
    display: flex;
    margin: 0px 200px;
}

.productdisplay-left{
    display: flex;
    gap: 17px;
}

.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.productdisplay-img-list img{
    height: 163px;
}

.productdisplay-main-img {
    width: 586px;
    height: auto;
}

.productdisplay-main-img-surprise {
    width: 100%;
    min-width: 586px;
    height: auto;
    min-height: 700px;
    max-width: 586px;
    max-height: 700px;
    object-fit: contain;
}

.productdisplay-right{
    display: flex;
    flex-direction: column;
}

.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
    white-space: nowrap;
}

.productdisplay-right-flowers {
    margin-top: 15px;
    color: #656565;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.productdisplay-right-flowers h2 {
    font-size: 16px;
    margin-bottom: 8px;
    color: #656565;
}

.productdisplay-right-quantity h3 {
    font-size: 14px;
    margin-bottom: 3px;
    color: #656565;
}

.productdisplay-right-flowers ul {
    padding-left: 20px;
    margin: 0;
    list-style: none;
}

.productdisplay-right-flowers li {
    margin-bottom: 5px;
    font-size: 14px;
    color: #818181;
}

.productdisplay-right-flowers li::before {
    content: "• ";
    color: #BB2A2A;
    font-weight: bold;
}

.productdisplay-right-prices {
    display: flex;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}

.productdisplay-right-price-old {
    color: #818181;
    text-decoration: line-through;
}

.productdisplay-right-price-new {
    color: #BB2A2A;
}

.productdisplay-right-option h1, .productdisplay-right-delivery h1{
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}

.productdisplay-right-options {
    display: flex;
    flex-direction: row;
    gap: 0px;
    margin: 30px 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 340px;
  }
  
  .productdisplay-option {
    position: relative;
  }


  .productdisplay-option input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    position: absolute;
    top: 10px;
    right: 10px; 
    z-index: 1;
    transform: scale(1.5);
}

.productdisplay-option input[type="checkbox"]::before {
    content: '\2713';
    display: inline-block;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    color: transparent; 
    background-color: white; 
    border: 1px solid #ccc;
    border-radius: 3px;
    position: absolute; 
    top: 0;
    left: 0;
}


.productdisplay-option input[type="checkbox"]:checked::before {
    color: black;
}


.productdisplay-right-options img{
    padding: 10px 10px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
    max-width: 150px;
}

.productdisplay-right-message h1 {
    margin-top: 20px;
    margin-bottom: 0px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}

.greeting-message {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 92%;
    margin-top: 20px;
    margin-bottom: 0px;
}



.productdisplay-right button{
    margin-top: 40px;
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #BB2A2A;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}


.option-price {
    position: absolute;
    bottom: 0; 
    left: 50%; 
    transform: translateX(-50%);
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    color: #BB2A2A;
    padding: 3px;
    font-size: 16px;
    margin-bottom: 5px;
    width: 40px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.warning {
    color: #BB2A2A;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}


.custom-toast {
    background-color: #fff4e6;
    color: #ff5733;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}



@media(max-width:1280px){
    .productdisplay{
        margin: 0px 135px;
    }

    .productdisplay-left{
        gap:10px;
    }

    .productdisplay-img-list{
        gap:10px;
    }

    .productdisplay-img-list img{
        height: 120px;
    }

    .productdisplay-main-img {
        max-width: 100%;
        max-height: 510px;
        object-fit: contain;
    }

    .productdisplay-right{
        margin: 0px 30px;
    }

    .productdisplay-right h1{
        font-size: 24px;
    }

    .productdisplay-right-prices {
        margin: 10px 0px;
        font-size: 18px;
    }

    .productdisplay-right-option h1{
        font-size: 18px;
        margin-top: 20px;
    }

    .productdisplay-option input[type="checkbox"] {
        width: 13px;
        height: 13px;
    }

    .productdisplay-option input[type="checkbox"]::before {
        width: 13px;
        height: 13px;
    }

    .productdisplay-right-options img{
        max-width: 100px;
    }

    .productdisplay-right-options{
        width: 243px;
    }

    .option-price{
        height: 20px;
        font-size: 14px;
    }

    .productdisplay-right-message h1 {
        font-size: 18px;
    }

    .greeting-message{
        width: 77%;
    }

    .productdisplay-right button{
        width: 150px;
        padding: 15px 0px;
        margin-bottom: 20px;
        font-size: 14px;
    }
}

@media(max-width:1024px){
    .productdisplay{
        margin: 0px 120px;
    }

    .productdisplay-left{
        gap:5px;
    }


    .productdisplay-img-list img{
        height: 80px;
    }


    .productdisplay-main-img {
        max-width: 100%;
        max-height: 350px;
        object-fit: contain;
    }
    
    .productdisplay-right{
        margin: 0px 30px;
    }

    .productdisplay-right h1{
        font-size: 18px;
    }

    .productdisplay-right-prices {
        margin: 10px 0px;
        font-size: 18px;
    }

    .productdisplay-right-option h1{
        font-size: 16px;
        margin-top: 20px;
    }

    .productdisplay-option input[type="checkbox"] {
        width: 13px;
        height: 13px;
    }

    .productdisplay-option input[type="checkbox"]::before {
        width: 13px;
        height: 13px;
    }

    .productdisplay-right-options img{
        max-width: 100px;
    }

    .productdisplay-right-options{
        width: 243px;
    }

    .option-price{
        height: 20px;
        font-size: 14px;
    }

    .productdisplay-right-message h1 {
        font-size: 16px;
    }

    .greeting-message{
        width: 77%;
    }

    .productdisplay-right button{
        width: 120px;
        padding: 10px 0px;
        margin-bottom: 10px;
        font-size: 13px;
    }
}

@media(max-width:800px){
    .productdisplay{
        margin: 0px 60px;
        position: relative;
        top: -30px;
    }

    .productdisplay-left{
        gap: 0;
        flex-direction: column-reverse;
        position: relative;
        top: -80px;
    }

    .productdisplay-main-img {
        max-width: 100%;
        max-height: 300px;
        object-fit: contain;
    }
    

    .productdisplay-img-list {
        margin-top: 10px;
        flex-direction: row;
        gap: 6px;
        position: relative;
        top: -60px;
    }

    .productdisplay-img-list img {
        height: 70px;
    }


    .productdisplay-right h1{
        font-size: 18px;
    }

    .productdisplay-right-prices {
        margin: 10px 0px;
        font-size: 14px;
    }

    .productdisplay-right-option h1{
        font-size: 16px;
        margin-top: 20px;
    }

    .productdisplay-option input[type="checkbox"] {
        width: 13px;
        height: 13px;
    }

    .productdisplay-option input[type="checkbox"]::before {
        width: 10px;
        height: 10px;
    }


    .productdisplay-right-options{
        width: 243px;
    }

    .option-price{
        height: 16px;
        font-size: 12px;
    }

    .productdisplay-right-message h1 {
        font-size: 16px;
    }


    .productdisplay-right button{
        width: 100px;
        font-size: 12px;
    }
}

@media(max-width:500px){
    .productdisplay{
        flex-direction: column;
    }

    .productdisplay-left{
        gap: 10px;
        top: 50px;
        flex-direction: row;
        margin: auto;
    }

    .productdisplay-img-list{
        flex-direction: column;
        gap: 8px;
    }

    .productdisplay-img-list img{
        height: 75px;
    }

    .productdisplay-main-img {
        max-width: 100%;
        max-height: 330px;
        object-fit: contain;
    }

    .productdisplay-right{
        margin: 5px;
    }

    .productdisplay-right h1{
        margin-top: 15px;
        font-size: 18px;
        font-weight: 500;
    }

    .productdisplay-right-options{
        gap: 10px;
        margin: 20px 0px;
        width: 253px;
    }


    .productdisplay-right-message h1 {
        font-size: 16px;
    }

    .productdisplay-right-option h1{
        font-size: 16px;
    }


}



