.productdisplay {
    display: flex;
    justify-content: center;
}

.productdisplay-left {
    display: flex;
    gap: 10px;
}

.productdisplay-img-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.productdisplay-img-list img {
    height: 150px;
}

.productdisplay-main-img {
    width: 500px;
    height: auto;
}

.productdisplay-main-img-surprise {
    width: 100%;
    min-width: 500px;
    height: auto;
    min-height: 500px;
    max-width: 500px;
    max-height: 500px;
    object-fit: contain;
}

.productdisplay-right {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.productdisplay-right h1 {
    color: #3d3d3d;
    font-size: 32px;
    font-weight: 700;
    white-space: nowrap;
}

.productdisplay-right-flowers, .productdisplay-surprise-message {
    margin-top: 10px;
    color: #656565;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
}

.productdisplay-right-flowers h2 {
    font-size: 14px;
    margin-bottom: 5px;
    color: #656565;
}

.productdisplay-right-flowers ul {
    padding-left: 20px;
    margin: 0;
    list-style: none;
}

.productdisplay-right-flowers li {
    margin-bottom: 5px;
    font-size: 12px;
    color: #818181;
}

.productdisplay-right-flowers li::before {
    content: "• ";
    color: #BB2A2A;
    font-weight: bold;
}

.productdisplay-right-prices {
    display: flex;
    gap: 10px;
    font-size: 20px;
    font-weight: 700;
}

.productdisplay-right-price-old {
    color: #818181;
    text-decoration: line-through;
}

.productdisplay-right-price-new {
    color: #BB2A2A;
}

.productdisplay-right-option h1, .productdisplay-right-delivery h1 {
    margin-top: 30px;
    color: #656565;
    font-size: 18px;
    font-weight: 600;
}

.productdisplay-right-options {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 15px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.productdisplay-option {
    position: relative;
}

.productdisplay-option input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    position: absolute;
    top: 10px;
    right: 10px; 
    z-index: 1;
    transform: scale(1.5);
}

.productdisplay-option input[type="checkbox"]::before {
    content: '\2713';
    display: inline-block;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    color: transparent; 
    background-color: white; 
    border: 1px solid #ccc;
    border-radius: 3px;
    position: absolute; 
    top: 0;
    left: 0;
}

.productdisplay-option input[type="checkbox"]:checked::before {
    color: black;
}

.productdisplay-right-options img {
    padding: 5px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
    max-width: 130px;
}

.productdisplay-right-message h1 {
    margin-top: 15px;
    margin-bottom: 0;
    color: #656565;
    font-size: 18px;
    font-weight: 600;
}

.greeting-message {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 0;
}

.productdisplay-right-controls {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-left: 10px;
}


.quantity-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.quantity-input-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    background-color: #f5f5f5;
    height: 35px;
    box-shadow: none;
}

.quantity-input-container button {
    background-color: #f5f5f5;
    border: none;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    outline: none;
    box-shadow: none;
}

.quantity-input-container button:hover {
    background-color: #e0e0e0;
}

.quantity-input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 60px;
}

.quantity-input-container input {
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    font-size: 18px;
    background-color: white;
    padding: 0;
    margin: 0;
    outline: none;
    box-shadow: none;
    padding-top: 5px;
    padding-left: 22px;
    padding-right: 10px;
}

.add-to-cart-button {
    background-color: #BB2A2A;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    height: 40px;
}

.option-price {
    position: absolute;
    bottom: 0; 
    left: 50%; 
    transform: translateX(-50%);
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    color: #BB2A2A;
    padding: 3px;
    font-size: 14px;
    margin-bottom: 5px;
    width: 40px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.warning {
    color: #BB2A2A;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.custom-toast {
    background-color: #fdfdfd;
    color: #ff5733;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.productdisplay-insufficient-stock {
    margin-top: 20px;
    padding: 15px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.productdisplay-insufficient-stock p {
    font-size: 16px;
    font-weight: 500;
}

@media(max-width:1280px){
    .productdisplay {
        margin: 0 80px;
    }

    .productdisplay-left {
        gap: 10px;
    }

    .productdisplay-img-list {
        gap: 8px;
    }

    .productdisplay-img-list img {
        height: 120px;
    }

    .productdisplay-main-img {
        max-width: 100%;
        max-height: 450px;
        object-fit: contain;
    }

    .productdisplay-right {
        margin: 0 20px;
    }

    .productdisplay-right h1 {
        font-size: 24px;
    }

    .productdisplay-right-prices {
        margin: 10px 0;
        font-size: 18px;
    }

    .productdisplay-right-option h1 {
        font-size: 18px;
        margin-top: 20px;
    }

    .productdisplay-option input[type="checkbox"] {
        width: 13px;
        height: 13px;
    }

    .productdisplay-option input[type="checkbox"]::before {
        width: 13px;
        height: 13px;
    }

    .productdisplay-right-options img {
        max-width: 100px;
    }

    .productdisplay-right-options {
        width: 220px;
    }

    .option-price {
        height: 20px;
        font-size: 14px;
    }

    .productdisplay-right-message h1 {
        font-size: 16px;
    }

    .greeting-message {
        width: 77%;
    }

    .productdisplay-right-controls {
        margin-top: 40px;
        margin-left: 0px;
    }

    .productdisplay-right-controls {
        display: flex;
        align-items: center;
        margin-top: 40px;
        margin-left: 5px;
    }

    .quantity-input-container button {
        width: 25px;
        height: 20px;
    }

    .add-to-cart-button {
        margin-left: 3px;
        width: 90px;
        font-size: 14px;
        padding: 8px;
    }

}

@media(max-width:1024px){
    .productdisplay {
        margin: 0 60px;
    }

    .productdisplay-left {
        gap: 5px;
    }

    .productdisplay-img-list img {
        height: 80px;
    }

    .productdisplay-main-img {
        max-width: 100%;
        max-height: 350px;
        object-fit: contain;
    }
    
    .productdisplay-right {
        margin: 0 20px;
    }

    .productdisplay-right h1 {
        font-size: 18px;
    }

    .productdisplay-right-prices {
        margin: 10px 0;
        font-size: 18px;
    }

    .productdisplay-right-option h1 {
        font-size: 16px;
        margin-top: 20px;
    }

    .productdisplay-option input[type="checkbox"] {
        width: 13px;
        height: 13px;
    }

    .productdisplay-option input[type="checkbox"]::before {
        width: 13px;
        height: 13px;
    }

    .productdisplay-right-options img {
        max-width: 100px;
    }

    .productdisplay-right-options {
        width: 220px;
    }

    .option-price {
        height: 20px;
        font-size: 14px;
    }

    .productdisplay-right-message h1 {
        font-size: 16px;
    }

    .greeting-message {
        width: 77%;
    }

    .productdisplay-right-controls {
        margin-top: 40px;
        margin-left: 0px;
    }

    .productdisplay-right-controls {
        display: flex;
        align-items: center;
        margin-top: 40px;
        margin-left: 5px;
    }

    .quantity-input-container button {
        width: 25px;
        height: 18px;
        font-size: 14px;
        
    }

    .quantity-input-container input {
        font-size: 14px;
    }
    
    .add-to-cart-button {
        margin-left: 3px;
        width: 90px;
        font-size: 13px;
    }
}

@media(max-width:800px){
    .productdisplay {
        margin: 0 30px;
        position: relative;
        top: -30px;
    }

    .productdisplay-left {
        gap: 0;
        flex-direction: column-reverse;
        position: relative;
        top: -180px;
    }

    .productdisplay-main-img {
        max-width: 100%;
        max-height: 300px;
        object-fit: contain;
    }
    

    .productdisplay-img-list {
        margin-top: 10px;
        flex-direction: row;
        gap: 6px;
        position: relative;
        top: -5px;
    }

    .productdisplay-img-list img {
        height: 70px;
    }

    .productdisplay-right h1 {
        font-size: 18px;
    }

    .productdisplay-right-prices {
        margin: 10px 0;
        font-size: 14px;
    }

    .productdisplay-right-option h1 {
        font-size: 16px;
        margin-top: 20px;
    }

    .productdisplay-option input[type="checkbox"] {
        width: 13px;
        height: 13px;
    }

    .productdisplay-option input[type="checkbox"]::before {
        width: 10px;
        height: 10px;
    }

    .productdisplay-right-options {
        width: 220px;
    }

    .option-price {
        height: 16px;
        font-size: 12px;
    }

    .productdisplay-right-message h1 {
        font-size: 16px;
    }

    .productdisplay-right button {
        width: 100px;
        font-size: 12px;
    }

    .productdisplay-right-controls {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .quantity-selector {
        margin-right: 10px;
    }

    .quantity-input-container {
        height: 35px;
    }

    .quantity-input-container button {
        width: 30px;
        height: 35px;
        font-size: 16px;
    }

    .quantity-input-container input {
        font-size: 12px;
        line-height: 35px;
    }

    .add-to-cart-button {
        height: 35px;
        font-size: 16px;
        padding: 8px 16px;
        margin-left: 10px;
    }
}

@media(max-width:500px){
    .productdisplay {
        flex-direction: column;
    }

    .productdisplay-left {
        gap: 10px;
        top: 50px;
        flex-direction: row;
        margin: auto;
    }

    .productdisplay-img-list {
        flex-direction: column;
        gap: 8px;
    }

    .productdisplay-img-list img {
        height: 75px;
    }

    .productdisplay-main-img {
        max-width: 100%;
        max-height: 330px;
        object-fit: contain;
    }

    .productdisplay-right {
        margin: 5px;
    }

    .productdisplay-right h1 {
        margin-top: 40px;
        font-size: 18px;
        font-weight: 500;
    }

    .productdisplay-right-options {
        gap: 10px;
        margin: 20px 0;
        width: 220px;
    }

    .productdisplay-right-message h1 {
        font-size: 16px;
    }

    .productdisplay-right-option h1 {
        font-size: 16px;
    }

    .productdisplay-right-controls {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        margin-left: 0px;
    }

    .quantity-selector {
        margin-right: 10px;
    }

    .quantity-input-container button {
        width: 25px;
        height: 35px;
        font-size: 12px;
    }

    .quantity-input-container input {
        font-size: 12px;
        line-height: 35px;
    }

    .add-to-cart-button {
        height: 35px;
        font-size: 12px;
        padding: 8px 16px;
        margin-left: 10px;
    }
}