.cartitems {
    margin: 70px 100px;
}

.cart-empty-message-container.card {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f8eded;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}


.cart-empty-message-container h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.cart-empty-message-container p {
    font-size: 18px;
    line-height: 1.5;
}

.cart-empty-message-container a {
    color: #BB2A2A;
    text-decoration: underline;
}

.suggested-products {
    text-align: center;
    margin-top: 50px;
}

.suggested-products-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.suggested-products-list .item {
    max-width: 200px;
}


.cartitems hr {
    height: 1px;
    background: #2e2e2e;
    border: 0;
}

.cartitems-format-main {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 550;
}

.cartitems-format{
    font-size: 17px;
    font-weight: 500;
}

.carticon-product-icon {
    height: 62px;
}

.cartitems-remove-icon {
    width: 15px;
    margin: 0px 15px;
    cursor: pointer;
}

.cartitems-quantity-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartitems-quantity {
    width: 40px;
    height: 40px;
    border: 2px solid #ebebeb;
    background: white;
    margin: 0px 15px;
    text-align: center;
    line-height: 38px;
}

.cartitems-quantity-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #BB2A2A;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
}

.cartitems-quantity-btn:hover {
    background: #a82222;
}


.cartitems-down{
    display: flex;
    margin: 100px 0px;
}

.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}

.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

.cartitems-total button{
    width: 200px;
    height: 58px;
    outline: none;
    margin-bottom: 40px;
    border: none;
    border-radius: 5px;
    background: #BB2A2A;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.cartitems-promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}

.cartitems-promocode p{
    color: #555;
}

.cartitems-promobox{
    display: flex;
    align-items: center;
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background: #F4F5F7;
}

.cartitems-promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 330px;
    height: 100%;
}

.cartitems-promobox button{
    width: 170px;
    height: 58px;
    font-size: 16px;
    border-radius: 5px;
    background: black;
    color: white;
    cursor: pointer;
}

.promocode-error {
    color: red;
    margin-top: 10px;
}

.promocode-success {
    color: green;
    margin-top: 10px;
}


.cart-item-options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-item-option {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.cart-option-icon {
    width: 50px;
    height: auto;
    margin-right: 5px;
}

@media(max-width:1280px){
    .cartitems{
        margin: 60px 150px;
    }

    .cartitems-format-main{
        grid-template-columns: 0.5fr 3fr 0.5fr 1fr 0.5fr 0.5fr 0.5fr;
        gap: 20px;
        padding: 15px 0px;
        font-size: 15px;
    }

    .carticon-product-icon{
        height: 50px;
    }

    .cart-item-option .cart-option-icon {
        width: 25px;
    }

    .cartitems-remove-icon{
        margin: 0px 10px;
    }

    .cartitems-quantity{
        width: 30px;
        height: 20px;
        font-size: 12px;
    }

    .cartitems-down{
        margin: 80px 0px;
        flex-direction: column;
        gap: 80px;
    }

    .cartitems-total{
        margin: 0;
    }

    .cartitems-total button{
        max-width: 200px;
        height: 45px;
        font-size: 13px;
    }

    .cartitems-promobox{
        width: auto;
        max-width: 500px;
    }

    .cartitems-promobox input{
        width: 100%;
        font-size: 13px;
    }

    .cartitems-promobox button{
        width: 120px;
        margin-left: -125px;
        font-size: 13px;
    }
}

@media(max-width:800px){
    .cartitems{
        margin: 60px 70px;
    }

    .cartitems-format-main{
        grid-template-columns: 0.25fr 3fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr;
    }
}

@media(max-width:500px){
    .cartitems-format-main{
        display: none;
        grid-template-columns: 0.5fr 3fr 0.5fr;
        gap: 10px;
    }

    .cartitems-format{
        display: grid;
    }

    .cartitems-quantity{
        margin-left: 10px;
    }

    .cart-item-option .cart-option-icon {
        width: 20px;
    }
}
