.addpromocode {
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    padding: 30px 50px;
    margin: 20px 30px;
    border-radius: 6px;
    background: white;
}

.addpromocode-itemfield {
    width: 100%;
    color: #7b7b7b;
    font-size: 16px;
    margin-bottom: 20px; 
}

.addpromocode-itemfield label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.addpromocode-itemfield input,
.addpromocode-itemfield select {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #c3c3c3;
    outline: none;
    color: #7b7f7b;
    font-family: 'Poppins';
    font-size: 14px;
    background-color: #fff;
}

.addpromocode-itemfield select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 30px; 
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%237b7b7b" d="M2 0L0 2h4zM2 5L0 3h4z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
}

.addpromocode-itemfield select::-ms-expand {
    display: none;
}

.addpromocode-btn {
    width: 160px;
    height: 50px;
    border-radius: 6px;
    background: #6079ff;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 500;
    display: block; 
    margin: 20px auto 0; 
}

@media(max-width:800px) {
    .addpromocode {
        width: auto;
        padding: 30px;
        margin: 20px;
    }
}
