.addoccasion {
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    padding: 30px 50px;
    margin: 20px 30px;
    border-radius: 6px;
    background: white;
}

.addoccasion-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.addoccasion-field {
    width: 100%;
    color: #7b7b7b;
    font-size: 16px;
    margin-bottom: 20px;
}

.addoccasion-field input {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #c3c3c3;
    outline: none;
    color: #7b7f7b;
    font-family: 'Poppins';
    font-size: 14px;
}

.addoccasion-btn {
    width: 160px;
    height: 50px;
    border-radius: 6px;
    background: #6079ff;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 500;
    display: block;
    margin: 20px auto 0;
}

@media(max-width:800px) {
    .addoccasion {
        width: auto;
        padding: 30px;
        margin: 20px;
    }
}
